@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: gold;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color:aquamarine;
  width: 100%;
}

#button {
    background-color: red;
    color: black;
}


#rectangle {
  background-image: linear-gradient(to bottom, rgb(0, 195, 255), sandybrown);
  width: 600px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}

#recinicio {
  color: white;
  font-weight: bold;
}

#Idu {
  color: white;
  font-weight: bold;
}

#rectangle.visible {
  opacity: 1;
}
