#section_cloud {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;


    align-items: flex-start;
    align-content: stretch;

    width: 70%;
    height: 500px;
    /* border: 10px solid black; */
    position: relative;
    overflow: hidden;

    /* background-color: bisque; */
}

#cloud {
    /* border: 5px solid blue;  */

    background-image: url("../images/cloud/nube.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    /* position: fixed; */
    /* display: block; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cloud img {
    /* position: relative; */
    width: 100%;
}

.cloudEl {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* border: 10px solid green; */
}

.itemEl {
    position: absolute;
    text-align: center;
    /* border: 2px solid red; */

}