

.update{
    background-color:rgba(0, 71, 255, 1);
    color: white;stroke: black;
    border-bottom: 100px;
    margin-top: 1%;
   
}
.name{
    background-color: rgba(181, 255, 255, 1);
    color:black;stroke: black; 
}