



.update{
    background-color:rgba(0, 71, 255, 1);
    color: white;stroke: black;
    border-bottom: 100px;
    margin-top: 1%;
   
}
.name{
    background-color: rgba(181, 255, 255, 1);
    color:black;stroke: black; 
}

button{
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
}
#modal_loupe::backdrop{
    background-color: rgba(0, 0, 0, .55);
}
#modal_loupe{
    max-width: 50ch;
}