#section_cloud{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    width: 50%;
    height: 400px;
    border: 10px solid black;
}
.cloud{
    border: 5px solid blue;    
    background-image: url("../images/cloud/nube.svg");
}